*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

#logo {
    float:left;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    background-image: url(images\trav_logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.logo img {
    position:absolute;
    margin-top: 1px;
    margin-left: 1px;
}

.wrapper{
    background: url(europe.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar {
    height: 101px;
    width: 100%;
    background: rgba(42, 7, 124, 0.4);
}
.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serifsans-serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover {
    background: blue;
    border-radius: 2px;
}
.wrapper .center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    user-select: none;
}

.center h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 800px;
    text-align: center;
}

.center h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 800px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons .btn {
    margin: 35px 35px;
}

buttons .button {
    height: 25px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #090b0c;
    background:rgb(163, 123, 236);
    border: 2px solid #0e010e;
    outline: none;
    cursor: pointer;
    transition: .5s;
}
.buttons .btn {
    margin-left: 25px;
}

.buttons .button:hover {
    background: #e9e0e9;
}

.features {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.features figure {
    text-align: center;
    margin: auto;
    width: 200px;
}

.feature figure img {
    border-radius: 10px;
    width: 200px;
}

.column {
    float: left;
    width: 33.3%;
    padding: 5px; 
}

.column img {
    height: 100px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: absolute;
    background-color: #000;
    width: 100%;
}
h2,h3,h4,p{
    margin-bottom: 10px;
}

.section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}
